header, footer{
    display: block;
    font-family: 'Times New Roman';
}
.back {
    background: url(img/back.jpg) no-repeat center ;
    background-size: cover;
    width: 100%;
}
.backother {
    background: url(img/back.jpg) no-repeat center fixed;
    background-size: cover;
    width: 100%;
    padding-bottom:20px;
}
h2 {
    font-size: 3.0517578125em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-header {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman';
}
.row {
    font-size: large;
    font-family: cursive;
    color: white;
    margin-top:20px;
    margin-bottom:20px;
}
div.row-hid {
   height:40px;
}
div.resep {
    background-color: #2F2424;
    width: 100%;
    padding-top: 20px;
    border-bottom: 80px;
    padding-bottom: 45px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:flex-end;
}
div.kinds {
    background-color: white;
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 45px;
}
div.facts {
    background-color: #FDE9C6;
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 45px;
}
.resep h2 > a  {
        color: white;
    }
.kinds h2 > a {
    color: #2F2424;
}
.facts h2 > a {
    color: brown;
}

resep > .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
figure {
    display: block; /* Блочный элемент */
    width: 300px; /* Ширина */
    float: none; /* Блоки выстраиваются по горизонтали */
    text-align: center; /* Выравнивание по центру */
}
li{
    vertical-align:middle;
    list-style-type: none;
}
li > a{
    color:brown
}
figcaption {
    box-shadow: inset 0 0 10px 100px rgba(0,0,0,.5);
    color: white; /* Цвет текста */
    align-content:flex-end;
}
figcaption > a {
    color: white;
}
.sel1-resep {
    background: url(img/img1.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}
.sel2-resep {
    background: url(img/img2.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}
.sel3-resep {
    background: url(img/img3.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}
.sel1-kinds {
    background: url(img/img4.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}
.sel2-kinds {
    background: url(img/img5.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}
.sel3-kinds {
    background: url(img/img6.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}
.sel1-facts {
    background: url(img/img7.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}
.sel2-facts {
    background: url(img/img8.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}
.sel3-facts {
    background: url(img/img9.jpg) space no-repeat;
    background-size: 100% 100%;
    margin-top: 20px; /* Отступы */
    margin-bottom: 20px; /* Отступы */
    height: calc(25vw*1.3);
    width: 25vw;
}

/*Страница рецептов*/
.mainresep {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:20px;
    margin-bottom:20px;
}
    .mainresep > h3 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .mainresep > p {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

.resep1 {
    background-color: burlywood;
}
.resep2 {
    background-color:darkred;
    color:white
}
.resep3 {
    background-color: navajowhite;
}
.resep4 {
    background-color: darksalmon;
}
.resep5 {
    background-color: brown;
    color: white
}
.resep6 {
    background-color: indianred;
}
.resep7 {
    background-color: lightsalmon;
}
/*This thing для прозрачного блока в карусели*/
.carousel-caption {
    box-shadow: inset 0 0 10px 100px rgba(0,0,0,.3);
}
.item img {
    height: 400px;
    width: 100%;
}
.navbar {
    position: relative;
    min-height: 0; 
    margin-bottom: 0; 
    border: 1px solid transparent;
}
.container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    text-align:center;
    vertical-align:central;
    color: white;
    font-size: x-large;
}
.container-fluid {
    background-color: rgba(255,255,255,.6);
}
.carousel-caption a{
    color:white;
}
.navbar-inverse {
    background-color: brown !important;
    border-color: brown !important;
}
body {
}
    .navbar-inverse .navbar-toggle {
        border-color: brown;
    }
        .navbar-inverse .navbar-toggle:hover {
            background-color: brown;
        }
@media (min-width: 768px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
        text-align: center;
    }
    .hid-md {
        display: none;
    }
    .navbar-nav > li {
        float: left;
        display: none;
    }
}

@media (max-width: 768px) {
    .hid{
        display:none;
    }
    .container-fluid >.row {
        display: none
    }
    .container {
        margin-top: 10px;
    }
        .navbar > .navbar-inverse {
        margin-right: -15px;
        margin-left: -15px;
        text-align: center;
        color: brown;
        font-size: x-large;
    }
    div .navbar .navbar-header{
        text-align:center;
    }

}
@media (min-width: 768px)
{
    .navbar-header {
        float:none;
    }
}

@media (min-width: 1268px) and (max-width:1440px) {
    .back {
        height: 100vh;
    }
}
@media (max-width: 1200px) {
}

@media (min-width: 320px) and (max-width: 425px){

    figure{
        float:none;
    }
    /*.sel1-resep {
        background: url(img/img1.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px; 
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }

    .sel2-resep {
        background: url(img/img2.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }

    .sel3-resep {
        background: url(img/img3.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }

    .sel1-kinds {
        background: url(img/img4.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }

    .sel2-kinds {
        background: url(img/img5.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }

    .sel3-kinds {
        background: url(img/img6.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }

    .sel1-facts {
        background: url(img/img7.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }

    .sel2-facts {
        background: url(img/img8.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }

    .sel3-facts {
        background: url(img/img9.jpg) space no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12%;
        margin-right: 12%;
        height: 300px;
        width: 240px;
    }*/
}
